@page
@model Recipes.Pages.CreateEditModel

@{
    var createOrEdit = Model.Id > 0 ? "Edit" : "Create";
    ViewData["Title"] = $"{createOrEdit} Recipe";
}

<h1>@ViewData["Title"]</h1>


@{
    var imgSrc = "";
    if (Model.RawImage != null)
    {
        var base64 = Convert.ToBase64String(Model.RawImage);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<style>
    input[type=text]{
    margin-bottom: 25px;
 }
  label {
      margin-top:25px;
  }
  .multiselect-native-select, #multi-select {
        width: 500px !important;
    }
</style>

<img src="@imgSrc" />

<br />

<form method="post" enctype="multipart/form-data">

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.RawImage)

    <div class="form-group">
        <label>Title</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Description</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Ingredients</label>
        <select id="multi-select" multiple="multiple" name="SelectedIngredients[]">

            @foreach (var ingredient in Model.AllIngredients)
            {
                var selected = Model.SelectedIngredients.Contains(ingredient.Id);

                if (selected)
                {
                    <option selected value="@ingredient.Id">@ingredient.Name</option>
                }
                else
                {
                    <option value="@ingredient.Id">@ingredient.Name</option>
                }
            }

        </select>
    </div>

    <table id="instructionTable" class="table">
        <thead>
            <tr>
                <th class="d-none">Id</th>
                <th>Instructions</th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instruction in Model.Instructions)
            {
                <tr>
                    <td class="d-none instructionId">@instruction.Id</td>
                    <td>@instruction.Description</td>
                    <td><button type="button" class="btn btn-danger instructionDelete">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="input-group">
        <input type="text" class="form-control" id="newInstruction" placeholder="New Instruction" style="margin-right:250px;">
        <span class="input-group-btn">
            <button class="btn btn-info" id="btnNewInstruction" type="button">New Instruction</button>
        </span>
    </div>

    <div class="form-group">
        <label>Upload New Image</label>
        <br />
        <input type="file" accept=".jpg,.gif,.png" name="@nameof(Model.Image)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>


@section Scripts {
    <script>


        $(function () {

            $('#multi-select').select2();

            $("table").on("click", ".instructionDelete", function(){

                $tr = $(this).closest('tr');

                var instructionId = $tr.find('.instructionId').html();

                $.ajax({
                    url: '/createedit?handler=InstructionDelete',
                    method: 'post',
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    data: { instructionId : instructionId },
                }).done(function (data) {

                    $tr.remove();
                });
            })

            $("#btnNewInstruction").click(function () {

                var recipeId = $("#Id").val()
                var newInstruction = $("#newInstruction").val();

                 $.ajax({
                    url: '/createedit?handler=InstructionAdd',
                    method: 'post',
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    data: { recipeId: recipeId, description : newInstruction },
                }).done(function (data) {

                    console.log(data.id);
                    console.log(data.description);

                    $("#instructionTable tr:last").after(`<tr>
                                                            <td class="d-none instructionId">`+ data.id + `</td>
                                                            <td>`+ data.description + `</td> 
                                                            <td><button type="button" class="btn btn-danger instructionDelete">Delete</button></td>
                                                          </tr>`);
                });
            });
        });
    </script>

}